@import '../data/variables.scss';

.button {
    border: 1px solid;
    padding: 0.2rem 0.3rem;
    border-radius: 0.825rem;
}

.disabled {
    border-color: $disabled;
    color: $disabled;
}

.active {
    border-color: $active;
    color: $active;
}

.active:hover {
    background-color: $active-hover;
    cursor: pointer;
}