@import '../data/variables.scss';

select {
    margin: 0 0.2rem;
    font-size: 1rem;
}

select:hover {
    cursor: pointer;
}

option {
    font-size: 1rem;
}

.correct {
    border: 4px solid lightgreen;
    background-color: lightgreen;
    border-radius: 1rem;
}

.incorrect {
    border: 4px solid lightcoral;
    background-color: lightcoral;
    border-radius: 1rem;
}

.wrong {
    font-weight: 700;
    font-size: 1.2rem;
}

.answer:not(:last-child)::after {
    content: ', ';
    font-size: 1rem;
    font-weight: 500;
}

.answertext {
    display: inline-block;
    width: 52.7px;
    height: 25px;
    margin: 0 0.2rem;
    vertical-align: middle;
    margin-bottom: 0.175rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.question {
    line-height: 2rem;
}

.instructions {
    font-style: italic;
}

.score {
    border: 1px solid black;
    display: inline-block;
    border-radius: 0.625rem;
    padding: 0 0 0 0.4rem;

    & > div {
        background-color: lightgray;
        display: inline-block;
        border-radius: 0.625rem;
        text-align: center;
        padding: 0 0.4rem;
        margin-left: 0.5rem;
        width: 1.9125rem;
    }
}

.buttonbox {
    display: flex;
    justify-content: flex-end;
}