$background: antiquewhite;
$border: 2px solid black;
$corner: 1rem;
$padding: 0.3rem;
$disabled: lightgrey;
$active: black;
$active-hover: lightgrey;

$color1: #5DFB95;
$color2: #E3DB54;
$color3: #FAA668;
$color4: #E354D8;
$color5: #6387FF;
